<h1>
  <%= @restaurant.name %>
</h1>
<h2>
  <%= @restaurant.address %>
</h2>
<ul>
  <% @restaurant.pizzas.each do |pizza|%>    
    <li>  
      <%= link_to pizza.name, pizza_path(pizza) %>
    </li> 
  <% end %>
</ul>
<p>
  <%= button_to "Edit Restaurant", edit_restaurant_path(@restaurant), method: :get %>
</p>